extends layout

block content
    .error #{message}
    h1 #{pageHeader.title}
    p #{pageHeader.strapline}
    .row
        each major in majors
            .col-md-6
                - var majorUrl = "/faculties/" + major._id
                a(href=majorUrl)
                    .forum-box
                        h2 #{major.name}
                        p #{major.description}
                        img(src=major.banner)
