extends layout

block content
    .content-margins
        .parallax(style="background-image: url('/img/carousel2-mf.png');")
        .container-fluid
            h1.page-title.center-text= pageHeader.title
            p.basic-title.center-text= pageHeader.strapline
            - if(message)
                .alert.alert-error.alert-dismissable(role='alert')
                    a.close(href='#', data-dismiss='alert', aria-label='close') &times
                    | #{message}
            .row
                .col-md-4.col-md-push-8
                    .col-helper
                        - if(userName)
                            .generic-box
                                h2 Session
                                p  You are currently logged in as #{userName}
                                .button-col-helper
                                    button.buttonGeneric.hvr-underline-from-center(style='background-color: #E0E0E8;', onclick="location.href='/logout'")
                                        span Sign Out
                        - else
                            .generic-box
                                h2 This is how it works
                                ol.tue-pink.inner-ol
                                    li
                                        p  Register and log in to the community
                                    li
                                        p  Ask your question and discuss
                                    li
                                        p  Help others and find answers
                                .button-col-helper
                                    button.buttonGeneric.hvr-underline-from-center(style='background-color: #E0E0E8;', onclick="location.href='/register'")
                                        span Register
                            .generic-box
                                h2 Sign In
                                p  Are you a member already? Sign in here!
                                .button-col-helper
                                    button.buttonGeneric.hvr-underline-from-center(style='background-color: #E0E0E8;', onclick="location.href='/login'")
                                        span Sign In
                .col-md-8.col-md-pull-4
                    .col-helper
                        each forum in forums
                            .forum-thumbnail.clearfix
                                - var forumUrl = '/forum/' + forum._id
                                a(href=forumUrl)
                                    h1.subtitle.align-left #{forum.title}
                                    p.basic-text #{forum.description}
                                    .forum-colored-rect(style='background-color: #CC3300;')
                                    p.basic-text Number of posts: #{forum.posts.length}

    //ul.pagination-custom(style='margin: 50px 0;')
    //    li.hvr-underline-from-center
    //        a(href='#') &laquo;
    //    li.active.hvr-underline-from-center
    //        a(href='#') 1
    //    li.hvr-underline-from-center
    //        a(href='#') 2
    //    li.hvr-underline-from-center
    //        a(href='#') 3
    //    li.hvr-underline-from-center
    //        a(href='#') &raquo;