extends layout

block content
    h1= pageHeader.title
    p= pageHeader.strapline
    .row
        .col-md-6
            form(action="", method="post", role="form")
                button.btn.btn-default(name="foo", value="changeUserType") Change user type to
                    +pickUserTypeInverse(userType)
    //input.form-control(id="search-barina", type="text", style="margin: 30px;", placeholder="Search")
    ul.nav.nav-pills
        li.active(style="float: none; display: inline-block;")
            a(data-toggle="pill", href="#bachelor") Bachelor
        li(style="float: none; display: inline-block;")
            a(data-toggle="pill", href="#premaster") Pre-Master
        li(style="float: none; display: inline-block;")
            a(data-toggle="pill", href="#master") Master

    div(id="faculties-list")
        - if(message)
            .alert.alert-warning #{message}
        input.search.form-control(id="search-bar", type="text", style="margin: 30px auto; width: 50%", placeholder="Search")
        .tab-content
            .tab-pane.fade.in.active(id="bachelor")
                h1 Bachelor
                    .row.row-eq-height.list(id="bachelorRow")
                        each faculty in faculties
                            each bachelorProgram in faculty.bachelor
                                .col-md-4
                                    - var programUrl = '/faculties/' + faculty._id + '/bachelor/' + bachelorProgram._id
                                        .program-box
                                            a(href=programUrl)
                                                h3.name #{bachelorProgram.name}
                                                p.description #{bachelorProgram.description}
                                                img.img-responsive.img-center(src=bachelorProgram.banner)
                                            - var facultyUrl = '/faculties/' + faculty._id
                                                a(href=facultyUrl)
                                                    h2.faculty #{faculty.name}
            .tab-pane.fade(id="premaster")
                h1 Pre-Master
                    .row.row-eq-height(id="premasterRow")
                        each faculty in faculties
                            each premasterProgram in faculty.premaster
                                .col-md-4
                                    - var programUrl = '/faculties/' + faculty._id + '/premaster/' + premasterProgram._id
                                        .program-box
                                            a(href=programUrl)
                                                h3.name #{premasterProgram.name}
                                                p.description #{premasterProgram.description}
                                                img.img-responsive.img-center(src=premasterProgram.banner)
                                            - var facultyUrl = '/faculties/' + faculty._id
                                                a(href=facultyUrl)
                                                    h2.faculty #{faculty.name}
            .tab-pane.fade(id="master")
                h1 Master
                    .row.row-eq-height(id="masterRow")
                        each faculty in faculties
                            each masterProgram in faculty.master
                                .col-md-4
                                    - var programUrl = '/faculties/' + faculty._id + '/master/' + masterProgram._id
                                        .program-box
                                            a(href=programUrl)
                                                h3.name #{masterProgram.name}
                                                p.description #{masterProgram.description}
                                                img.img-responsive.img-center(src=masterProgram.banner)
                                            - var facultyUrl = '/faculties/' + faculty._id
                                                a(href=facultyUrl)
                                                    h2.faculty #{faculty.name}