extends layout

block content
    .content-margins
        - var style =
            .parallax(style="background-image: url('/img/carousel5-generic.png'); background-position: center bottom;")
            .container-fluid(style='margin-top: 10px;')
                ol.basic-text.breadcrumb
                    li
                        a(href='/') Home
                    li
                        a(href='/faculties') Faculties
                    li
                    - var url = '/faculties/' + target.faculty._id
                    a(href=url) #{target.faculty.name}
                    li.active #{target.program.name}
                .row
                    .col-md-3.accordion-col
                        .col-helper
                            button.accordion.hvr-overline-from-center Curriculum

                            button.accordion.hvr-overline-from-center(onclick="location.href='/organization/map';") Map

                            button.accordion.hvr-overline-from-center(onclick="location.href='/organization/contact';") Contact

                            button.accordion.hvr-overline-from-center(onclick="location.href='/organization/student-for-a-day';") Student-for-a-Day

                            - if(userType === "student")
                                button.accordion.hvr-overline-from-center(onclick="location.href='/organization/advisors-tutors';") Advisors &amp; Tutors

                                button.accordion.hvr-overline-from-center(onclick="location.href='/organization/rules-regulations';") Rules &amp; Regulations

                                button.accordion.hvr-overline-from-center(onclick="location.href='/organization/campus-card';") Campus Card
                            - if(userType === "visitor")
                                button.accordion.hvr-overline-from-center(onclick="location.href='/organization/enrollment';") Enrollment
                    .col-md-6
                        h2.align-left.basic-title #{pageHeadear.title}
                        p.basic-text #{pageHeadear.strapline}
                    .col-md-3
                        .col-helper
                            .generic-box.clearfix
                                h3 Lorem Ipsum
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.