extends layout

block content
    .post-box
        h2 #{target.post.title}
        p #{target.post.description}
        .row
            .col-md-6
                p Created by: #{target.post.author}
            .col-md-6
                p.pull-right Created on:
                    +formatDate(target.post.createdOn)
    each answer in target.post.answers
        .answer-box
            h2 #{answer.title}
            p #{answer.answerBody}
            .row
                .col-md-6
                    p Created by: #{answer.author}
                .col-md-6
                    p.pull-right Created on:
                        +formatDate(answer.createdOn)
    .answer-box.clearfix
        form.form-horizontal(action="", method="post", role="form")
            - if(error === "val")
                .alert.alert-danger(role="alert") All fields are required, please try again.
            .form-group
                label.col-xs-10.col-sm-2.control-label(for="author") Author
                .col-xs-12.col-sm-6
                    input#author.form-control(name="author")
            .form-group
                label.col-sm-2.control-label(for="answerBody") Answer
                .col-sm-10
                    textarea#answerBody.form-control(name="answerBody", rows="5")
            button.btn.btn-default.pull-right Add my post