extends layout

block content
    .content-margins
        - var style = "background-image: url('" + target.program.banner + "'); background-position: center bottom;"
            .parallax(style=style)
            .container-fluid(style='margin-top: 10px;')
                ol.basic-text.breadcrumb
                    li
                        a(href='/') Home
                    li
                        a(href='/faculties') Faculties
                    li
                        - var url = '/faculties/' + target.faculty._id
                            a(href=url) #{target.faculty.name}
                    li.active #{target.program.name}
                .row
                    .col-md-3.accordion-col
                        .col-helper
                            - var generalUrl = "location.href='" + baseUrl +  "';"
                                - var classActive = (programOrganizationActive === "general" ? "active" : "")
                                    button.accordion.hvr-overline-from-center(onclick=generalUrl, class=classActive) General

                            - var professionalDevelopmentUrl = "location.href='" + baseUrl +  "/professional-development';"
                                - var classActive = (programOrganizationActive === "professional-development" ? "active" : "")
                                    button.accordion.hvr-overline-from-center(onclick=professionalDevelopmentUrl, class=classActive) Professional Development

                            - var examinationSchedulesUrl = "location.href='" + baseUrl +  "/examination-schedules';"
                                - var classActive = (programOrganizationActive === "examination-schedules" ? "active" : "")
                                    button.accordion.hvr-overline-from-center(onclick=examinationSchedulesUrl, class=classActive) Examination Schedules

                            - var graduationDeadlinesUrl = "location.href='" + baseUrl +  "/graduation-deadlines';"
                                - var classActive = (programOrganizationActive === "graduation-deadlines" ? "active" : "")
                                    button.accordion.hvr-overline-from-center(onclick=graduationDeadlinesUrl, class=classActive) Graduation Deadlines
                    .col-md-6
                        h1.page-title.center-text #{pageHeader.title}
                        block innerContent
                    .col-md-3
                        .col-helper
                            | !{target.program.contact}


    //img(src=target.program.banner, style="width: 100%; margin-bottom: 100px;")
    //h1 #{pageHeader.title}
    //p #{pageHeader.strapline}
    //
    //br
    //
    //ol.breadcrumb
    //    li
    //        a(href="/") Home
    //    li
    //        a(href="/faculties") Faculties
    //    li
    //        - var url = '/faculties/' + target.faculty._id
    //            a(href=url) #{target.faculty.name}
    //    li.active #{target.program.name}
    //h2 #{target.program.name}
    //p #{target.program.description}