extends layout

block content
    - if(loggedIn)
        - var addPostUrl = '/forum/' + forum._id + '/add-new-post'
        a.btn.btn-default(href=addPostUrl) Add a post
    each post in forum.posts
        .post-box.clearfix
            - var forumUrl = '/forum/' + forum._id + '/' + post._id
            a(href=forumUrl)
                h2 #{post.title}
                p #{post.description}
            .row
                .col-md-6
                    p Author: #{post.author}
                .col-md-6
                    p.pull-right Number of answers: #{post.answers.length}
